@import "tailwindcss";

@theme inline {
  --color-accent-yellow: #ecad0a;
  --color-blue-primary: #209dd7;
  --color-purple-secondary: #753991;
  --color-navy: #032147;
  --color-gray-text: #888888;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: var(--font-sans), system-ui, sans-serif;
}
